.insurances {
    background-image: linear-gradient(to top right, rgb(213, 255, 174), rgb(211, 211, 211), rgb(166, 178, 248));
}

.insuranceBody {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10%;
    padding: 20px 20px 47px;
    flex-wrap: wrap;
}

.insuranceTitle {
    display: flex;
    font-size: 30px;
    flex: 100%;
    padding: 0 20px 30px;
}

.insuranceContainer {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.insuranceShow,
.insuranceAddNew {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    width: 23vw;
    height: 70vh;
    margin: 10px;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.insuranceShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: indigo;
    padding: 0px;
}

.insuranceShowInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px 10px;
    color: #444;
}

.insuranceShowIcon {
    font-size: 16px !important;
}

.insuranceShowInfoTitle {
    margin-left: 10px;
}

.insuranceAddNew {
    align-items: center;
}

.insuranceAdd {
    width: 600px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.insuranceAddForm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.insuranceAddItem {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.insuranceAddItem > label {
    margin-top: 8px;
    font-size: 14px;
}

.insuranceAddInput {
    font-size: 12px;
    font-weight: 400;
    background: transparent;
    height: 25px;
    width: 200px;
    border: none;
    color: gray;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.insuranceAddBottom {
    display: flex;
    flex: 100%;
    align-items: center;
    justify-content: center;
    padding: 42px 0 20px;
}

.insuranceAddButton {
    border-radius: 7px 0 7px 7px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: indigo;
    color: white;
    font-weight: 600;
    margin: 10px 60px;
}
