.container {
    display: flex;
    flex: 5;
    /* margin: 10px; */
}

.link {
    text-decoration: none;
    color: rgb(77, 77, 77);
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border: none;
}
